<div class="game-bg">
  <div class="top-icons px-3">
   <div class="btns">
    <button class="icon-btn" (click)="toggleFullScreen()">
      <img src="/images/fullscreen.svg" />
    </button>
    <button class="icon-btn" (click)="toggleMusic()" [class.playing]="isMusicPlaying">
      <img [src]="isMusicPlaying ? '/images/music.svg' : '/images/unmusic.svg'" alt="Music" />
    </button>
    <button class="action-btn icon-btn">
      <img src="/images/sound.svg"/>
    </button>
   </div>
    <button class="icon-btn exit" (click)="closeGame()">
      <img src="/images/close.svg" width="24" height="24"/>
    </button>
  </div>
  <div class="game-card p-4" 
  #gameCard
  [class.no-bg]="noCardBackground">

    <app-game-header *ngIf="shouldShowGameHeader()"
      [level]="level"
      [questionsCorrectInLevel]="questionsCorrectInLevel || 0"
      [currentQuestion]="currentQuestion || 1"
      [timeElapsed]="timeElapsed || 0"
      [difficulty]="difficulty || 'easy'"
      [totalQuestions]="5"
    ></app-game-header>

    <div class="game-content">

      <ng-content></ng-content>
    </div>

   
  </div>
</div>