:host {
    --background: #F5E1A6;
    --mainFont: 'Baloo 2';
    --mainFontColor: #474747;
    --fraiseColor: #CA4028;
    --comic: 'Comic Relief';
    --borderColor: #9B8150;
}

/* *{
    border: red 1px solid;
} */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background-color {
    background-color: #F3E2BD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    z-index: -1;
    display: block;

}

.background img {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    display: block;
}

.cover img {
    width: 100vw;
}

.cover-title {
    margin-top: 6%;
    margin-left: 6%;
    display: inline-flex;
    flex-direction: column;
    /* gap: 16px; */
}

.description {
    color: rgb(255, 255, 255);
    font-family: var(--comic);
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    font-weight: 700;
    animation: popup 0.6s ease-out forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

.cover-title h1,
h3 {

    margin: 0;
}

.title {
    color: var(--fraiseColor);
    font-size: clamp(2rem, 6vw, 6rem);
    font-family: var(--mainFont);
    font-weight: bold;
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff,
        0px -2px 0 #fff,
        0px 2px 0 #fff,
        -2px 0px 0 #fff,
        2px 0px 0 #fff,
        2px 0px 5px black;
    animation: popup 0.6s ease-out forwards;
}


@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(20px);
    }

    60% {
        opacity: 1;
        transform: scale(1.1) translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}


.cover-title .btn {
    margin-top: 2rem;
    width: 52%;
    height: 5%;
    background-color: #81BEAE;
    color: white;
    border: none;
    opacity: 0;
    animation: popupBtn 0.6s ease-out 1s forwards, discover 1s infinite alternate;
    font-family: var(--mainFont);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(129, 190, 174, 0.6), 0 4px 12px 0 rgba(0, 0, 0, 0.18);
    border: 2.5px solid #ffffff00;
    outline: 3px solid #48c4a300;
    outline-offset: 0px;
    transition:
        background-color 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        border 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        outline 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        outline-offset 0.35s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);

}

@keyframes popupBtn {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(20px);
    }

    60% {
        opacity: 1;
        transform: scale(1.1) translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes discover {
    from {
        scale: 1.0;
        background-color: #81BEAE;
        border: 2.5px solid #ffffff00;
        outline: 3px solid #48c4a300;
        outline-offset: 0px;
    }

    to {
        scale: 1.06;
        background-color: #81BEAE;
        border: 2.5px solid #fff;
        outline: 3px solid #81BEAE;
        outline-offset: 4px;
    }
}


.cover-title .btn:hover {
    background-color: var(--carotteColor);
    border: 2.5px solid white;
    outline: 3px solid var(--carotteColor);
    outline-offset: 4px;
    /* animation: discoverHover 1s infinite alternate; */
    scale: 1.06;
}

.content {
    position: relative;
    margin-top: 40%;
}

.mainCloud {
    z-index: 10;
    animation: fadeIn 1s ease-in-out;
    width: 100%;
    height: auto;
    position: absolute;
    top: -4.5%;
    overflow: hidden;
}

.section {
    display: block;
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* animation: appearSection 1s linear; */
    animation-timeline: view();
    animation-range: entry cover 50%;
    scroll-snap-align: start;
}

.section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes appearSection {
    from {
        opacity: 0;
        transform: translate3d(0, -200px, 0) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.section2 {
    display: flex;
    animation: fadeIn 1s ease-in-out;
    margin-top: 39%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        margin-bottom: -500px;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
    }
}


.story {
    position: absolute;
    background-color: var(--background);
    border: var(--borderColor) 4px solid;
    padding: 24px;
    border-radius: 64px;
}

.story{
    animation: storyAnimOne 8s ease-in-out infinite alternate;
    transition: all 1s ease;
}

.story:hover {
    margin-top: 0%;
    rotate: 0deg;
    animation-play-state: paused;
}

@keyframes storyAnimOne {
    0% {
        margin-top: 1%;
        rotate: 0deg;
    }

    25% {
        margin-top: 0%;
        rotate: 2deg;
    }

    50% {
        margin-top: 1%;
        rotate: -2deg;
    }

    75% {
        margin-top: 1%;
        rotate: 2deg;
    }

    100% {
        margin-top: 1%;
        rotate: 0deg;
    }
}
.story p {
    font-family: var(--mainFont);
    font-size: clamp(0.7rem, 1.5vw, 2.8rem);
    color: var(--mainFontColor);
    font-weight: bold;
}




.cloud2 {
    position: absolute;
    left: 0;
    /* bottom: -33%; */
    top: -38%;
    display: block;
    z-index: 10;
    animation: fadeIn 1s ease-in-out;
    overflow-x: hidden;
    width: 100%;
}

.cloud2 img {
    height: 100%;
    position: relative;
    /* left: -176px; */
    object-fit: cover;
    display: block;
}



.section2 .story {
    background-color: transparent;
    border-radius: 0;
    border: none;
    transform: translateX(-50%);
    left: 50%;
    top: 16%;
}

.section2 .story p {
    text-align: center;
    /* font-weight: 500; */
    font-size: clamp(0.7rem, 2vw, 2rem);
    text-wrap: nowrap;
}



.section3 .fraise-id {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
}

.fraise-id {
    font-family: "Atma", system-ui;
}

.fraise-id .info-title {
    color: var(--mainFontColor);
    font-size: clamp(0.7rem, 2vw, 2rem);
}

.fraise-id .info-value {
    color: #B81F15;
    font-size: clamp(0.7rem, 3vw, 3rem);
    font-weight: 600;
 animation: paddingMove 3s ease-in-out infinite alternate;
}

@keyframes paddingMove {
    0% {
        padding-left: 0;
    }
    50% {
        padding-left: 20px;
    }
    100% {
        padding-left: 0;
    }
}



.section4 .story:first-of-type {
    background-color: transparent;
    border: none;
    border-radius: 0;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
}

.section4 .story:first-of-type p {
    text-wrap: nowrap;
    font-size: clamp(0.7rem, 3vw, 3rem);
    font-weight: 900;
    text-align: center;
}

.section4 .story p span {
    font-size: clamp(0.7rem, 2vw, 2rem);
    display: block;
}

.section4 .types {
    /* border-radius: 24px; */
    padding: 1% 2%;
}

.section4 .types p {
    font-family: var(--comic);
    font-weight: 500;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    margin: 0;
}

.section4 .t1 {
    left: 8%;
    bottom: 15%;
}

.section4 .t2 {
    left: 24%;
    bottom: 12%;
}

.section4 .t3 {
    left: 45%;
    bottom: 12%;
}

.section4 .t4 {
    left: 63%;
    bottom: 12%;
}

.section4 .t5 {
    left: 81%;
    bottom: 10%;
}

.section5 {
    margin-top: 13%;
}

.section5 .first,
.second {
    position: absolute;
    color: var(--mainFontColor);
    font-size: clamp(0.7rem, 2vw, 2rem);
    font-weight: 800;
    text-wrap: nowrap;
    text-align: left;
    font-family: var(--mainFont);
}

.section5 .first {
    top: 14%;
    left: 35%;
}

.section5 .second {
    top: 42%;
    left: 45%;
}

.section6 {
    margin-top: 13%;
}

.section6 .story {
    background-color: transparent;
    border: none;
    border-radius: 0;
    left: 4%;
    top: 8%;
}

.section6 .story p {
    text-wrap: nowrap;
    font-size: clamp(0.7rem, 2vw, 2rem);

    font-weight: 900;
}


.section7 .first {
    background-color: transparent;
    border: none;
    border-radius: 0;
    left: 3%;
    top: 6%;
}


.section7 .story p {
    text-wrap: nowrap;
    font-weight: 900;
    margin: 0;
}

.section7 .first p {
    font-size: clamp(0.7rem, 2.5vw, 2.5rem);
}

.section7 .second {
    transform: translateX(-50%);
    left: 50%;
    bottom: 4%;
    width: 50%;
    padding: 1%;
    border-radius: 4rem;
}

.section7 .second p {
    text-align: center;
    text-wrap: nowrap;
    font-size: clamp(0.7rem, 2vw, 2rem);
}


.section8 .story {
    background-color: transparent;
    border: none;
    border-radius: 0;
    left: 2%;
    top: 2%;
}

.section8 .story p {
    font-size: clamp(0.7rem, 2.5vw, 2.5rem);
    text-wrap: nowrap;
    font-weight: 900;
    margin: 0;
    text-shadow: 2px 0px 5px black;
    color: white;
}





.section9 .story {
    background-color: transparent;
    border: none;
    border-radius: 0;
    left: 3%;
    top: 6%;
}

.section9 .story p {
    text-wrap: nowrap;
    font-weight: 900;
    margin: 0;
    font-size: clamp(0.7rem, 2.5vw, 2.5rem);
}

.section9 .first {
    top: 3%;
    left: 12%;
}

.section9 .second {
    top: 80%;
    left: 33%;
}

/* section 10 */
.section10 .story {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.section10 .story p {
    text-wrap: nowrap;
    font-weight: 900;
    margin: 0;
    font-size: clamp(0.7rem, 2.5vw, 2.5rem);
}

.section10 .first {
    top: 18%;
    left: 8%;
}

.section10 .second {
    transform: translateY(-50%);
    top: 53%;
    right: 8%;
}



.rotate-message {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10000;
}

.rotate-message img {
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: showRotateMessage 0.5s, shake 2.2s infinite 2s;
}

@keyframes showRotateMessage {
    0% {
        transform: rotate(30deg) scale(0.5);
    }

    50% {
        transform: rotate(-10deg) scale(1.2);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes shake {

    0%,
    90%,
    100% {
        transform: rotate(0deg);
    }

    92% {
        transform: rotate(-1deg);
    }

    96% {
        transform: rotate(1deg);
    }

    98% {
        transform: rotate(-1deg);
    }
}



/* resposive */

/* mobile */
@media (max-width: 480px) {
    .content {
        position: fixed;
    }

    .rotate-message {
        display: block;
    }
}

/* tablet */
@media (min-width: 481px) and (max-width: 968px) {
    .content {
        margin-top: 34%;
    }

    .mainCloud img {
        object-fit: cover;
        width: 100%;
    }
}

/* laptob */
@media (min-width: 769px) {}