<div class="background-color"></div>

<div id="section1" class="background"><img src="images/learningZone/stories/fraise/background.png" alt="background">
</div>

<div id="section1" class="cover-title">
    <h3 class="description firstDesc">Il était une fois… une petite</h3>

    <h1 class="title">Fraise!</h1>
    <h3 class="description">rouge née dans les forêts<br>d’Amérique !"</h3>

    <button class="btn btn-primary" (click)="discover()">Discover</button>
</div>

<div class="content">
    <div class="mainCloud">
        <img src="images/learningZone/stories/mainCloud.svg" alt="cloud">
    </div>

    <div id="section2" #section class="section section2">
        <img src="images/learningZone/stories/fraise/section2.png" alt="section 2">
        <div class="story">
            <p>Les jardiniers ont mélangé deux fraises pour créer… la<br>fraise juteuse qu’on adore aujourd’hui !
            </p>
        </div>
    </div>

    <div id="section3" #section class="section section3">

        <img src="images/learningZone/stories/fraise/section3.png" alt="section 3">
        <div class="fraise-id">
            <div class="info">
                <div class="info-title">Famille :</div>
                <div class="info-value">Brassicacées</div>
            </div>
            <div class="info">
                <div class="info-title">Couleur :</div>
                <div class="info-value">verte ou violette</div>
            </div>
            <div class="info">
                <div class="info-title">Surnom :</div>
                <div class="info-value">super-chou vert !</div>
            </div>

        </div>
    </div>

    <div id="section4" #section class="section section4">

        <img src="images/learningZone/stories/fraise/section4.png" alt="section 4">
        <div class="story ">
            <p>Il existe plein de fraises<br>différentes <span>et toutes délicieuses !</span>
            </p>
        </div>
        <!-- types -->
        <div class="story types t1">
            <p>Fines</p>
        </div>
        <div class="story types t2">
            <p>Blanches</p>
        </div>
        <div class="story types t3">
            <p>Régulier</p>
        </div>
        <div class="story types t4">
            <p>Rondes</p>
        </div>
        <div class="story types t5">
            <p>Géantes</p>
        </div>
    </div>



    <div id="section5" #section class="section section5">
        <div class="cloud2">
            <img class="" src="images/learningZone/stories/banane/cloud2.png" alt="background">
        </div>
        <img src="images/learningZone/stories/fraise/section5.png" alt="section 5">
        <p class="first">Chaque fraise a son<br>moment préféré<br>pour être cueillie !
        </p>
        <p class="second">Avril, mai, juin… jusqu’à octobre !</p>
    </div>



    <div id="section6" #section class="section section6">
        <div class="cloud2">
            <img class="" src="images/learningZone/stories/banane/cloud2.png" alt="background">
        </div>
        <img src="images/learningZone/stories/fraise/section6.png" alt="section 6">
        <div class="story">
            <p>La fraise protège ton cœur<br>avec ses super-antioxydants<br>magiques ! </p>
        </div>
    </div>



    <div id="section7" #section class="section section7">

        <img src="images/learningZone/stories/fraise/section7.png" alt="section 7">
        <div class="story first">
            <p>Grâce à la<br>vitamine C</p>
        </div>
        <div class="story second">
            <p>ta peau devient douce et lumineuse comme<br>un rayon de soleil ! </p>
        </div>
    </div>


    <div id="section8" #section class="section section8">
        <img src="images/learningZone/stories/fraise/section8.png" alt="section 8">
        <div class="story">
            <p>Les flavonoïdes dans la fraise<br>boostent ta mémoire comme des<br>petits héros !</p>
        </div>
    </div>


    <div id="section9" #section class="section section9">
        <img src="images/learningZone/stories/fraise/section9.png" alt="section 9">
        <div class="story first">
            <p>La fraise détend ton ventre,</p>
        </div>
        <div class="story second">
            <p>calme tes émotions et recharge ton sourire intérieur !</p>
        </div>
    </div>

    <div id="section10" #section class="section section10">
        <img src="images/learningZone/stories/fraise/section10.png" alt="section 10">
        <div class="story first">
            <p>La fraise ouvre<br>ton cœur,</p>
        </div>
        <div class="story second">
            <p>te rend généreux<br>et plein d’amour !</p>
        </div>
    </div>


    <app-home-footer [color]="'#B68455'"></app-home-footer>

</div>




<!-- phone horizontal direction -->

<div class="rotate-message">
    <img src="images/learningZone/stories/mainMessage.svg" alt="please, rotate your phone [required]">
</div>