<app-game-template
  [level]="niveau()"
  [questionsCorrectInLevel]="questionsCorrectes"
  [totalQuestions]="totalQuestions"
  [currentWord]="question().reponse.toString()"
  [difficulty]="difficulteActuelle"
  [currentQuestion]="questionsRepondues()"
  [timeElapsed]="tempsEcoule()"
>

  <div class="hud">
    <!-- <img src="/images/logo-patarif.png" alt="logo" class="brand"> -->
  </div>

  <div class="stage">
    <!-- Échelle en haut -->
    <div class="ladder-container">
      <div class="ladder">
        <img src="images/math-stairs/Stairs.png" alt="échelle">
        <!-- Étoile au sommet -->
        <img class="star" src="images/math-stairs/star.png" alt="étoile">
        <!-- Personnage -->
        <img class="boy"
             [style.--p]="marche() / totalMarches"
             src="images/math-stairs/the_kid.png"
             alt="enfant">
      </div>
    </div>

    <!-- Carte de question en bas -->
    <div class="question-section">
      <div class="question-card" [class.locked]="estBloque()">
        <div class="qtext">
          {{ question().a }} {{ question().op }} {{ question().b }} = .....?
        </div>

        <div class="choices">
          <button class="choice"
                  *ngFor="let c of question().choix; let i = index"
                  [class]="'choice choice-' + (i + 1)"
                  (click)="choisir(c)">
            {{ c }}
          </button>
        </div>
        <div class="actions">
          <button class="done-btn" (click)="questionSuivante()" *ngIf="!estGagne()">DONE</button>
          <div class="win-box" *ngIf="estGagne()">
            <button class="again" (click)="niveauSuivant()">Niveau suivant</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-celebration
    [show]="afficherCelebration()"
    [data]="donneesCelebration"
    (close)="fermerCelebration()"
    (goToNext)="niveauSuivant()">
  </app-celebration>

</app-game-template>
