<app-stars-background></app-stars-background>

<h1 class="categories-title">What do we have?</h1>

<div class="cards">
  <!-- Category Card for Learning Corner -->
  <app-category-card 
    [bgColor]="'#FF006E'" 
    [bgIcon]="'images/learningCorenetCategory.png'"
    [mainIcon]="'images/mainlearningCorenetCategory.png'" 
    [title]="'Learning\nCorner'"
    (cardClick)="onCardClicked('learningCorner')">
  </app-category-card>

  <!-- Category Card for Shopping Corner -->
  <app-category-card 
    [bgColor]="'#9B57FA'" 
    [bgIcon]="'images/shoppingCorenerCategory.png'"
    [mainIcon]="'images/mainShoppingCorenerCategory.png'" 
    [title]="'Shopping\nCorner'"
    (cardClick)="onCardClicked('shoppingCorner')">
  </app-category-card>

  <!-- Category Card for Stories Corner -->
  <app-category-card 
    [bgColor]="'#FB5664'" 
    [bgIcon]="'images/storyCorenerCategory.png'"
    [mainIcon]="'images/mainStoryCorenerCategory.png'" 
    [title]="'Stories\nCorner'"
    (cardClick)="onCardClicked('storyCorner')">
  </app-category-card>

  <!-- Category Card for Games Corner -->
  <app-category-card 
    [bgColor]="'#6486FF'" 
    [bgIcon]="'images/gameCorenerCategory.png'"
    [mainIcon]="'images/mainGameCorenerCategory.png'" 
    [title]="'Games\nCorner'"
    (cardClick)="onCardClicked('gamesCorner')">
  </app-category-card>
</div>
