.categories-title{
    font-family: "Baloo 2", sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}body{
    overflow: hidden;
}

.cards {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1rem; 
    padding: 1rem; 
}

