<!-- <app-background></app-background> -->




<!-- <app-background></app-background> -->
<!-- [class.selected]="selectedSize === size.size_name" -->
<div class="p-0 m-0">

    <div class="row g-0">

        <!-- Sidebar -->
        <div class="col-1">
            <app-admin-navbar></app-admin-navbar>
        </div>

        <!-- Main Content -->
        <div class="col-11 super min-vh-100">


            <div class="main">
                <div class="image-section">
                    <div class="profile-cover">
                        <img src="images/adminProfileBackground.jpg" alt="cover">
                    </div>
                    <div class="profile-image">
                        <img [src]="profileImageUrl || 'images/account.png'" (error)="onImageError($event)"
                            alt="Profile Image" class="rounded-circle"
                            style="width:120px; height:120px; object-fit:cover;" />

                        <button type="button" class="upload-btn" (click)="fileInput.click()">
                            <i class="bi bi-exposure"></i>
                        </button>

                        <input type="file" accept="image/*" #fileInput style="display: none;"
                            (change)="onFileSelected($event)" />
                    </div>



                </div>

                <div class="profile-data">
                    <div class="data">
                        <h1>name</h1>
                        <div class="divider"></div>
                        <p>{{displayName}}</p>
                    </div>
                    <div class="data">
                        <h1>email</h1>
                        <div class="divider"></div>
                        <p>{{email}}</p>
                    </div>
                    <div class="data password">
                        <h1>password</h1>
                        <div class="divider"></div>
                        <p>change password</p>
                        <div class="change-password">
                            <input type="password" placeholder="New password" [(ngModel)]="newPassword">
                            <input type="password" placeholder="Confirm password" [(ngModel)]="confirmPassword">
                            <button class="btn btn-outline-primary" (click)="onChangePassword()">change
                                passwrod</button>
                        </div>

                    </div>
                    <div class="data">
                        <h1>last sign in</h1>
                        <div class="divider"></div>
                        <p>{{lastSignIn}}</p>
                    </div>
                    <div class="data">
                        <h1>created in</h1>
                        <div class="divider"></div>
                        <p>{{createdAt}}</p>
                    </div>
                    <div class="data">
                        <h1>provider</h1>
                        <div class="divider"></div>
                        <p>{{provider}}</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>