<div class="main-container">
  <div class="raiting">
    <img src="images/starGameIcon.png" alt="raiting">
    <h4>{{raiting}}</h4>
  </div>

  <div class="stack-background">
    <!-- <div class="open"><img src="images/arrowTopRight.png" alt="GO"></div> -->
    <h2 class="Patarif" *ngIf="isSelected == true">Patarif</h2>
    <img class="background-image" [src]="[bgIcon]" alt="bgIcon">
  </div>

  <div class="character">
    <img [src]="[character]" alt="character">
    <div class="popup-name">{{name}}</div>
  </div>
</div>
