.card-container {
  position: relative;
  width: 300px;                
  height: 400px;                
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.4s cubic-bezier(.7, 0, .3, 1);
  transform-origin: top center; 
  margin: 8px;
}

.card-container:hover {
  transform: scaleY(1.05);       
  z-index: 10;
}

.card-container:hover .age,
.card-container:hover .open {
  visibility: visible;
}

.background-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 85%;
  /* opacity: 0.35; */
  /* filter: brightness(0.2) contrast(1.1); */
  z-index: 0; 
}

.background-icon img {
  width: 100%;
  height: auto;
}

/* المحتوى */
.main-content {
  position: relative;
  z-index: 1;
  text-align: left;
  color: white;
}


.main-icon {
  width: 100%;
}
.title {
  margin: 10px 0 0 20px;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1.5rem, 5vw, 3.12rem); 
  white-space: pre-line;
}

.age {
  margin-left: 20px;
  padding: 0.25em 0.5em;
  font-size: clamp(0.75rem, 2vw, 1rem);
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  width: fit-content;
  visibility: hidden;
}

.open {
  padding: 2% 1%;
  font-size: clamp(0.75rem, 2vw, 1rem); 
  border: 1px solid white;
  border-radius: 50%;
  width: fit-content;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open img{
  width: 70%;
  object-fit: contain;
}

.card-container:hover .open {
  background-color: rgba(255, 255, 255, 0.062);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.329);
  animation: pulse 2s infinite ease-in-out;
}

/* انيميشن */
@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}


@media (max-width: 600px) {
  .title {
    font-size:2rem;   
    margin: 8px 0 0 12px;
  }

}
