<div class="footer-home" [style.background-color]="color">
    <!-- Logo Section -->
    <div class="logo-section">
        <a routerLink="/home" class="logo" title="Aller à la page principale">
            <img src="images/logo-patarif.png" alt="logo">
        </a>
        <p>&#169;Patarif Copyright - 2022 – Tous droits réservés</p>
    </div>

    <!-- Links Section -->
    <div class="links-section">
        <div class="links">
            <a class="link" routerLink="/home">Accueil</a>
            <a class="link" routerLink="/learning">Zone d’apprentissage</a>
            <a class="link" routerLink="/games">Aire de jeux</a>
            <!-- <a class="link" routerLink="/games">Heure des histoires</a> -->
            <!-- <a class="link" routerLink="/home">Coin découverte</a> -->
            <a class="link" routerLink="/shop" title="Boutique">Boutique</a>
        </div>
    </div>

    <!-- Social Section -->
    <div class="subscribe-section">
        <h3 class="section-title">Suivez-nous</h3>
        <div class="social-media">
            <a class="social-link" href="https://www.instagram.com/patarif/" target="_blank" title="Instagram">
                <i class="bi bi-instagram"></i>
            </a>
            <a class="social-link" href="https://www.facebook.com/Patarif" target="_blank" title="Facebook">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="social-link" href="https://www.youtube.com/@patarif" target="_blank" title="YouTube">
                <i class="bi bi-youtube"></i>
            </a>
        </div>
    </div>
</div>
