/* products */



.product-card {
    display: flex;
    flex-direction: column;
    /* align-items: sta; */
    background: #ffffff8c;
    border-radius: 12px;
    padding: 16px 18px;
    width: 240px;
    height: 360px;
    /* margin: 0 12px; */
    /* min-height: auto; */
    gap: 8px;
    transform: translateY(0);
    transition: background 0.2s, transform 0.2s;
    cursor: normal;
    position: relative;
}

.is-salled {
    position: absolute;
    top: 3%;
    left: 3%;
    color: white;
    background-color: rgb(65, 65, 65);
    font-family: var(--comic);
    font-size: 0.7rem;
    border-radius: 12px;
    padding: 6px 12px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.product-card.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.card-img {
    width: 100%;
    height: 100%;
    /* border: rgb(0, 90, 192) 1px solid; */
    border-radius: 8px;
    overflow: hidden;
}

.title {
    font-family: var(--mainFont);
    font-weight: 900;
    font-size: clamp(0.7rem, 3vw, 3rem);
    color: #000;
    text-wrap: nowrap;
    text-align: left;
    margin-bottom: 16px;
}

p,
h2,
button {
    margin: 0;
}

.product-card:hover {
    background: #fff;
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
    /* border-radius: 8px; */
    /* margin-bottom: 8px; */
}

.product-title {
    font-family: var(--comic);
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 900;
    color: #000;
    /* margin-bottom: 4px; */
    text-align: left;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.3rem;
    color: #E8B931;
}

.product-price {
    font-family: var(--mainFont);
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 900;
    color: #000;
}

.add-to-cart {
    visibility: hidden;
    margin-top: auto;
    padding: 8px 18px;
    font-size: clamp(0.7rem, 1vw, 1rem);
    border-radius: 24px;
    background: transparent;
    color: #222;
    border: black 1px solid;
    cursor: pointer;
    font-family: var(--comic);
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
}

.add-to-cart:hover {
    background: #FF006E;
    color: #fff;
    border: transparent 1px solid;

}


/* half star */
/* <span class="half-star" *ngIf="hasHalfStar">&#9733;</span> */
.stars {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 8px;
}

@media (max-width: 767px) {
    .product-card {
        width: 200px;
        height: 300px;
    }
}