.games-title{
    font-family: "Baloo 2", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    margin-bottom: 280px;
    text-align: center;
}

/* .paper-plane {
    position: fixed;
    top: -800px;
    right: 0;
    transform: rotate(-132.81deg);
    z-index: -1;
} */



.super{
    width: 100%;
    overflow: hidden;
    /* z-index: -10; */
    position: relative;
}


.paper-plane {
    position: absolute;
    z-index: -1;
    /* transform: translateY(-50%); */
    /* top: -50%; */
    /* right: -50%; */
    /* animation: fadeInFromTop 1s ease-out 0.2s both; */
    height: auto;
    width: 100%;
    bottom: 50%;
    right: -50%;
    rotate: 90deg;
}
.paper-plane img{
    object-fit: contain;
    width: 100%;
    height: 100%
}