.games-title{
    font-family: "Baloo 2", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    margin-bottom: 280px;
    text-align: center;
}

/* .paper-plane {
    position: fixed;
    top: -800px;
    right: 0;
    transform: rotate(-132.81deg);
    z-index: -1;
} */



.super{
    width: 100vw;
    overflow: hidden;
}

