<div class="main" [ngClass]="{ 'out-of-stock': stock === 0 }">
    <div class="image"><img [src]="img" [alt]="img"></div>
    <h1><span>name</span>{{title}}</h1>
    <h1><span>category</span>{{category}}</h1>
    <h1><span>stock</span>{{stock}}</h1>
    <!-- <h1><span>size</span><p style="font-size: x-small; color: rgba(0, 0, 0, 0.808);">{{size}}</p></h1> -->
    <h1><span>price</span>{{price}} $</h1>
    <button (click)="onDelete()" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
</div>