<!-- <app-background></app-background> -->
<app-lines-background></app-lines-background>
<div class="" *ngIf="categoriesCount >= 2">
  <app-lines-background [top]="100"></app-lines-background>
</div>
<div class="" *ngIf="categoriesCount >= 1">
  <app-lines-background [top]="60"></app-lines-background>
</div>
<app-stars-background></app-stars-background>

<div class="" *ngIf="categoriesCount >= 2">

  <app-stars-background [top]="100"></app-stars-background>
</div>
<div class="" *ngIf="categoriesCount >= 1">

  <app-stars-background [top]="60"></app-stars-background>
</div>




<!-- cart -->
<app-cart-button></app-cart-button>

<div class="content">
  <!-- ✅ Loading Spinner -->
  <app-loading *ngIf="loading"></app-loading>


  <!-- ✅ Actual Content -->
  <ng-container *ngIf="!loading">
    <div class="title">
      <img class="title-background img-fluid" src="images/shopping/titleBackground.png" alt="title">
      <img class="title-collectionBackground img-fluid" src="images/shopping/titleBackgroundCollection.png" alt="title">
      <div class="title-main row">
        <img class="title-character img-fluid col-4" src="images/shopping/mainCharacter.png" alt="title">
        <div class="title-sentince col-8">
          <h1>Achetez chez <span>Patarif</span> et<br>rejoignez-nous</h1>
          <p>De nombreux produits formidables vous attendent</p>
        </div>
      </div>
    </div>
    <div class="products" *ngFor="let category of categories; let i = index">
      <div class="" *ngIf="productsByCategory[category].length > 0">
        <h1 class="title">
          Nous avons beaucoup de belles <span>{{ categoryMap[category] }}</span>
        </h1>

        <div class="cards-wrapper">
          <button class="scroll-btn left" (click)="scrollCards('left', i)">
            <i class="bi bi-arrow-left-short"></i>
          </button>

          <div class="cards" #cardsContainer>
            <div class="main-card" *ngFor="let product of productsByCategory[category]">
              <div class="product-card" (click)="navigateToProduct(product.id)" style="cursor:pointer;">
                <app-product-card [title]="product.title" [img]="product.images[0]" [price]="product.final_price"
                  [rate]="product.rate" [product_stock]="product.product_stock">
                </app-product-card>
              </div>

            </div>
          </div>

          <button class="scroll-btn right" (click)="scrollCards('right', i)">
            <i class="bi bi-arrow-right-short"></i>
          </button>
        </div>
      </div>
    </div>

  </ng-container>
</div>
<div *ngIf="!loading" class="footer">
  <app-home-footer></app-home-footer>
</div>