body {
    overflow-x: hidden;
    position: relative;
}

.hero {
    padding: 20px 20px 60px 60px;
    animation: fadeInFromTop 1s ease-out;
    position: relative;
    width: 100vw;
}



.paper-plane {
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 0;
    animation: fadeInFromTop 1s ease-out 0.2s both;
    width: 100vw;
}

.paper-plane img {
    object-fit: contain;
    width: 100%;
    height: 100%
}

.wand {
    position: absolute;
    top: 92%;
    left: 8%;
    width: 16%;
}


.wand img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* .play-line .welcome {
    display: flex;
    align-items: center;
    gap: 8px;
    animation: fadeInFromTop 1s ease-out 0.4s both;
} */

.welcome-img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.welcome-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.welcome-message {
    margin: 0;
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.hero-title {
    z-index: 1000;
    font-family: "Audiowide", sans-serif;
    font-weight: 600;
    font-size: clamp(2rem, 5.5vw, 5.2rem);
    animation: fadeInFromTop 1s ease-out 0.6s both;
}

.logo {
    width: clamp(200px, 40vw, 500px);
    height: auto;
    margin-top: 0px;
    animation: fadeInFromTop 1s ease-out 0.8s both;
    z-index: 500;
}


/* Fade in animation */
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.line1 {
    width: 0%;
    animation: typing 3s forwards;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.line2 {
    width: 0%;
    animation: typing 3s 2s forwards;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.line3 {
    width: 0%;
    animation: typing 3s 3s forwards;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    to {
        width: 100%;
    }
}

.learn-line,
.play-line {
    width: 15%;
    position: absolute;
    top: 57%;
    animation: fadeInFromTop 1s ease-out 1s both;
}

/* المكان الأساسي */
.learn-line {
    left: 8%;
}

.play-line {
    left: 38%;
}

.lets-play {
    position: absolute;
    top: 72%;
    left: 33%;
    width: fit-content;

}

.lets-play img {
    animation: spin 10s linear infinite;
    object-fit: cover;
}

.collection {
    position: absolute;
    top: 70%;
    left: 55%;
    width: fit-content;
}

/* قاعدة عامة */
.collection-item {
    color: white;
    font-size: clamp(0.5rem, 1.5vw, 1.2rem);
    font-family: "Architects Daughter", cursive;
    padding: 10px 32px;
    border-radius: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 0;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    position: absolute;
}

/* ================= */
/* collection */
/* ================= */
.enjoy {
    top: 0;
    left: 0;
    background: rgba(255, 0, 110, 1);
    transform: rotate(20deg);
}

.book {
    top: -20px;
    left: 140px;
    background: rgba(100, 134, 255, 1);
    padding: 10px;
}

.stories {
    top: 40px;
    left: 100px;
    background: rgba(155, 87, 250, 1);
    transform: rotate(-20deg);
}

.love {
    top: 60px;
    left: 40px;
    background: rgba(251, 86, 100, 1);
    padding: 10px;
}

.learning {
    top: 100px;
    left: -40px;
    background: rgba(100, 134, 255, 1);
    transform: rotate(20deg);
}

.star {
    top: 90px;
    left: 160px;
    background: rgba(255, 238, 82, 1);
    padding: 10px;
    color: #000;
}

.game {
    top: 160px;
    left: 90px;
    background: rgba(155, 87, 250, 1);
    padding: 10px;
}

.play-collection-item {
    top: 150px;
    left: 150px;
    background: rgba(251, 86, 100, 1);
    transform: rotate(-20deg);
}

.collection-item img {
    max-width: 40px;
    height: auto;
}

.enjoy,
.learning {
    animation: moveRotate20 3s ease-in-out infinite alternate;
}

.stories,
.play-collection-item {
    animation: moveRotateMinus20 4s ease-in-out infinite alternate;
}

.book,
.love,
.star,
.game {
    animation: collectionMoveUpDown 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

@keyframes moveRotate20 {

    0%,
    100% {
        transform: translate(20px, 20px) rotate(20deg);
    }

    50% {
        transform: translate(0, 0) rotate(20deg);
    }
}

@keyframes collectionMoveUpDown {

    0%,
    100% {
        transform: translate(20px, 20px);
    }

    50% {
        transform: translate(0, 0);
    }
}

@keyframes moveRotateMinus20 {

    0%,
    100% {
        transform: translate(20px, 20px) rotate(-20deg);
    }

    50% {
        transform: translate(0, 0) rotate(-20deg);
    }
}

/* ******************** */
/* responsive */
/* ******************** */

/* Mobile (up to 480px) */
@media (max-width: 480px) {
    .hero {
        padding-left: 10px;
        padding-right: 0;
    }


    .welcome-message {
        font-size: 1rem;
        text-wrap: nowrap;
    }

    .hero-title {
        font-weight: lighter;
        font-size: 3.5rem;
    }

    .break-after::after {
        content: "\A";
        /* newline */
        white-space: pre;
        display: inline;
    }
.last-word{
    display: block;
}
    .logo,
    .wand,
    .play-line,
    .learn-line {
        display: none;
    }

    .lets-play {
        left: 4%;
        top: 85%;
        width: 30%;
    }
    .collection-item {
        font-size: 1rem;
        padding: 5px 16px;
    }

    .collection {
        top: 80%;
        left: 50%;
    }

    .enjoy {
        top: 0;
        left: 0;
    }

    .book {
        top: 0;
        left: 80px;
    }

    .stories {
        top: 40px;
        left: 40px;
    }

    .love {
        top: 40px;
        left: 120px;
    }

    .learning {
        top: 80px;
        left: 0;
    }

    .star {
        top: 80px;
        left: 80px;
    }

    .game {
        top: 120px;
        left: 40px;
    }

    .play-collection-item {
        top: 120px;
        left: 120px;
    }


}

/* Tablet (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .logo,
    .wand,
    .play-line,
    .learn-line {
        display: none;
    }

    .lets-play {
        left: 4%;
        top: 85%;
        width: 30%;
    }
    .collection-item {
        font-size: 1rem;
        padding: 5px 16px;
    }

    .collection {
        top: 80%;
        left: 50%;
    }

    .enjoy {
        top: 0;
        left: 0;
    }

    .book {
        top: 0;
        left: 80px;
    }

    .stories {
        top: 40px;
        left: 40px;
    }

    .love {
        top: 40px;
        left: 120px;
    }

    .learning {
        top: 80px;
        left: 0;
    }

    .star {
        top: 80px;
        left: 80px;
    }

    .game {
        top: 120px;
        left: 40px;
    }

    .play-collection-item {
        top: 120px;
        left: 120px;
    }

}