<!-- <app-background></app-background> -->
<app-stars-background class="stars"></app-stars-background>
<div class="hero row align-items-center justify-content-center gap-0">
    <!-- Left Side -->
    <div class="col-12 col-md-8 d-flex flex-column order-1 order-md-1">
        <div class="welcome mb-3 d-flex align-items-center justify-content-start text-start" style="flex-wrap: nowrap;">
            <div class="welcome-img me-2">
                <img class="img-fluid" src="images/welcome.png" alt="welcome" width="100" height="100">
            </div>
            <p class="welcome-message mb-0">
                Bienvenue dans l’univers magique de <span style="color: rgba(255, 0, 110, 1);;">Patarif</span>
            </p>
        </div>

        <h1 class="hero-title text-start">
            <span class="line1">
                Le <span class="break-after">meilleur</span> endroit 
            </span>
            <br>
            <span class="line2">
                <span class="learn" style="color: rgba(100, 134, 255, 1);">Étudier </span>
                <span class="break-after">et</span>
                <span class="play" style="color: rgba(251, 86, 100, 1);">Jouer </span>
            </span>
            <br>
            <span class="line3">
                pour les <span class="last-word">enfants </span>
            </span>
        </h1>

        <img class="img-fluid learn-line" src="images/learnLine.png" alt="line">
        <img class="img-fluid play-line" src="images/playLine.png" alt="line">
    </div>

    <!-- Right side -->
    <div class="col-12 col-md-4 text-center text-md-end mt-4 order-2 order-md-2">
        <img src="images/hero.png" alt="hero" class="img-fluid logo" />
    </div>

    <div class="paper-plane"><img src="images/paperPlane.png" alt=""></div>
    <div class="wand"><img class="img-fluid" src="images/wand.png" alt="wand"></div>
    <div class="lets-play"><img class="img-fluid" src="images/letsPlay.png" alt="lets-play"></div>

    <div class="collection">
        <div class="collection-item enjoy">Profitez</div>
        <div class="collection-item book"><img src="images/book.png" alt="livre"></div>
        <div class="collection-item stories">Histoires</div>
        <div class="collection-item love"><img src="images/love.png" alt="favori"></div>
        <div class="collection-item learning">Apprentissage</div>
        <div class="collection-item star"><img src="images/star.png" alt="favori"></div>
        <div class="collection-item game"><img src="images/game.png" alt="jeu"></div>
        <div class="collection-item play-collection-item">Jouer</div>
    </div>

</div>