.home-container {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  z-index: -1;
}

.home-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: stars 4s alternate infinite ;
}

@keyframes stars {
  0% {
    transform: translate(0, 0) scale(0.8);
  }
  25% {
    transform: translate(25px, 20px) scale(1.02);
  }
}