<div class="canvas-area">
    <div class="canvas-wrapper" #canvasWrapper>
      <canvas #drawingCanvas class="drawing-canvas"
              (pointerdown)="onPointerDown($event)"
              (pointermove)="onPointerMove($event)"
              (pointerup)="onPointerUp($event)"
              (pointercancel)="onPointerUp($event)"
              (contextmenu)="$event.preventDefault()"></canvas>
  
      <canvas #backgroundCanvas class="background-canvas"></canvas>
  
      <div #cursorElement class="cursor" aria-hidden="true"></div>
    </div>
  </div>
  