div {
  margin-bottom: 40px;
}


/* Design for New Games */
.new-games-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.new-games-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
}

.new-game-card {
  min-width: 200px;
  height: 300px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  background-blend-mode: overlay;
}
