<!-- <app-background></app-background> -->

<div class="main">
    <div class="image-section">
        <div class="profile-cover">
            <img src="images/profileBackground.jpg" alt="cover">
        </div>
        <div class="profile-image">
            <img *ngIf="profileImageUrl; else noImg" [src]="noImg" alt="Profile Image" />
            <ng-template #noImg>
                <img src="images/account.png" alt="no image">
            </ng-template>
            <button type="button" class="upload-btn" (click)="fileInput.click()">
                <i class="bi bi-exposure"></i> </button>

            <input type="file" accept="image/*" #fileInput style="display: none;" (change)="onFileSelected($event)" />
        </div>


    </div>

    <div class="profile-data">
        <div class="data">
            <h1>name</h1>
            <div class="divider"></div>
            <p>{{displayName}}</p>
        </div>
        <div class="data">
            <h1>email</h1>
            <div class="divider"></div>
            <p>{{email}}</p>
        </div>
        <div class="data password">
            <h1>password</h1>
            <div class="divider"></div>
            <p>change password</p>
            <div class="change-password">
                <input type="password" placeholder="New password" [(ngModel)]="newPassword">
                <input type="password" placeholder="Confirm password" [(ngModel)]="confirmPassword">
                <button class="btn btn-outline-primary" (click)="onChangePassword()">change passwrod</button>
            </div>

        </div>
        <div class="data">
            <h1>last sign in</h1>
            <div class="divider"></div>
            <p>{{lastSignIn}}</p>
        </div>
        <div class="data">
            <h1>created in</h1>
            <div class="divider"></div>
            <p>{{createdAt}}</p>
        </div>
        <div class="data">
            <h1>provider</h1>
            <div class="divider"></div>
            <p>{{provider}}</p>
        </div>
    </div>

    <div class="favourites">
        <h1>Favourites</h1>

        <div class="favs-items">
            <app-fav-pro-card *ngFor="let product of favouriteProducts" [title]="product.title"
                [img]="product.images[0]" [price]="product.final_price" [rate]="product.rate">
            </app-fav-pro-card>
        </div>
    </div>

</div>

<!-- <app-home-footer></app-home-footer> -->