<!-- <app-background></app-background> -->

<div class="main">
    <div class="image-section">
        <div class="profile-cover">
            <img src="images/profileBackground.jpg" alt="couverture">
        </div>
       <div class="profile-image">
  <img
    [src]="profileImageUrl || 'images/account.png'"
    (error)="onImageError($event)"
    alt="Image de profil"
    class="rounded-circle"
    style="width:120px; height:120px; object-fit:cover;"
  />

  <button type="button" class="upload-btn" (click)="fileInput.click()">
    <i class="bi bi-exposure"></i>
  </button>

  <input
    type="file"
    accept="image/*"
    #fileInput
    style="display: none;"
    (change)="onFileSelected($event)" />
</div>



    </div>

    <div class="profile-data">
        <div class="data">
            <h1>Nom</h1>
            <div class="divider"></div>
            <p>{{displayName}}</p>
        </div>
        <div class="data">
            <h1>Email</h1>
            <div class="divider"></div>
            <p>{{email}}</p>
        </div>
        <div class="data password">
            <h1>Mot de passe</h1>
            <div class="divider"></div>
            <p>Changer le mot de passe</p>
            <div class="change-password">
                <input type="password" placeholder="Nouveau mot de passe" [(ngModel)]="newPassword">
                <input type="password" placeholder="Confirmer le mot de passe" [(ngModel)]="confirmPassword">
                <button class="btn btn-outline-primary" (click)="onChangePassword()">Changer le mot de passe</button>
            </div>

        </div>
        <div class="data">
            <h1>Dernière connexion</h1>
            <div class="divider"></div>
            <p>{{lastSignIn}}</p>
        </div>
        <div class="data">
            <h1>Créé le</h1>
            <div class="divider"></div>
            <p>{{createdAt}}</p>
        </div>
        <div class="data">
            <h1>Fournisseur</h1>
            <div class="divider"></div>
            <p>{{provider}}</p>
        </div>
    </div>

    <div class="favourites">
        <h1>Favoris</h1>

        <div class="favs-items">
            <app-fav-pro-card *ngFor="let product of favouriteProducts" [title]="product.title"
                [img]="product.images[0]" [price]="product.final_price" [rate]="product.rate">
            </app-fav-pro-card>
        </div>
    </div>

</div>

<!-- <app-home-footer></app-home-footer> -->
