<div class="background">
    <app-background></app-background>
    <app-background></app-background>
</div>
<div style="position: relative; z-index: 10;">
    <div class="animate__animated animate__fadeInDown">
        <app-hero-section></app-hero-section>
    </div>
    <br>
    <br>
    <div class="component-animation" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <app-introduction></app-introduction>
    </div>
    <br>
    <br>
    <div class="component-animation" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <app-categories></app-categories>
    </div>
    <br>
    <br>
    <div class="component-animation" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <app-home-games></app-home-games>
    </div>
    <br>
    <br>
    <div class="component-animation" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <app-characters-home></app-characters-home>
    </div>
    <br>
    <br>
    <div class="component-animation footer" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
      <app-home-footer [color]="'#6486FF'"></app-home-footer>

    </div>
</div>
<!-- <app-stars-background></app-stars-background> -->