
<div class="card-container">
    <img class="background" src="images/Subtract.png" alt="bg icon">
    <img class="game-image" [src]="mainIcon" alt="icon">
    <button class="start-game-button">
        <div class="start-home"><img src="images/arrow.png" alt="start"></div>
    </button>
    <!-- <div class="raiting"><img src="images/starGameIcon.png" alt="raiting"> <h3 style="margin-top: 8px;">{{ raiting }}</h3></div> -->
    <h3 class="title" [innerHTML]="title"></h3>
    <div class="age">
        <h4>3-7 year</h4>
    </div>
    <img class="selected-game" [hidden]="!isSelected" src="images/ic_round-games.png" alt="Selected game" />
</div>
  