.card-container {
    position: relative;
    width: 328px;
    height: 390px;
    overflow: visible;
}

/* Background */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 328px;
    height: 390px;
    object-fit: cover;
    z-index: 0;
}

* {
    /* border: green 1px solid; */
}

/* Game Image */
.game-image {
    position: absolute;
    z-index: 1;
    width: 95%;
    height: auto;
    left: -55px;
    bottom: 0;

}

/* Title */
.title {
    font-family: "Audiowide", sans-serif;
    font-size: 44.16px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 112px;
    left: 220px;
    z-index: 2;
}

/* Start Game Button */
.start-game-button {
    position: absolute;
    padding: 5px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background: white;
    border: 3px black solid;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25), 0 0 0 4px #fff, 0 0 12px 2px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    right: 0;
    bottom: 0;
}

.start-home {
    border: 1px black solid;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-home img {
    width: 22px;
    display: block;
    margin-left: 6px;
}

/* Age Badge */
.age {
    position: absolute;
    top: 62px;
    left: 255px;
    width: 114px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000;
    border: 1px black solid;
    border-radius: 44px;
    z-index: 20;
}

.age h4 {
    font-family: "Architects Daughter", cursive;
    margin: 0;
}

/* Selected Game Indicator */
.selected-game {
    position: absolute;
    top: 8px;
    right: 18px;
    width: 38px;
    height: 38px;
}

/* Rating (commented out for now) */
.raiting {
    display: flex;
    align-items: center;
    position: relative;
    top: 6px;
    z-index: 1000;
    /* justify-content: center; */
}





/* reposive */

/* mobile*/

@media (max-width: 480px) {
    .card-container {
        transform: scale(0.8);
    }
}

/* tablet */

@media (min-width: 481px) and (max-width: 1100px) {}