<div class="background-color"></div>

<div class="background"><img src="images/learningZone/stories/carotte/background.png" alt="background"></div>
<div class="cover-title">
    <h3 class="description firstDesc">Moi, c’est</h3>
    <h1 class="title">Caro-Carotte !</h1>
    <h3 class="description">Je suis orange, croquante, et j’aime qu’on<br>me mange !<br>Je vais te raconter plein de
        choses sur moi…<br>de manière amusante ! </h3>

    <button class="btn btn-primary" >Discover</button>

    <div  class="cloud1">
        <img class="" src="images/learningZone/stories/carotte/cloud1.png" alt="background">
    </div>
</div>

<div class="content" >
    <div #section class="section section2">
        <img src="images/learningZone/stories/carotte/section2.png" alt="section 2">
        <div class="location pays-bas d-flex"><i class="bi bi-arrow-down"></i>
            <p>Pays-Bas</p>
        </div>
        <div class="location grece d-flex"><i class="bi bi-arrow-down"></i>
            <p>Grèce</p>
        </div>
        <div class="location rome d-flex"><i class="bi bi-arrow-up"></i>
            <p>Rome</p>
        </div>
        <div class="location afghanistan d-flex"><i class="bi bi-arrow-up"></i>
            <p>Afghanistan</p>
        </div>
        <div class="section2-message-box"> <img src="images/learningZone/stories/carotte/message.png" alt="message">
        </div>

        <div class="message d-flex">
            <p>Au début, j’étais<br>violette et je venais<br>d’Afghanistan 🇦🇫</p>
        </div>
        <div class="story">
            <p>J’ai voyagé jusqu’en Grèce, Rome, et<br>puis les Hollandais m’ont rendue<br>orange ! </p>
        </div>
    </div>
    <div #section class="section section3">
        <img src="images/learningZone/stories/carotte/section3.png" alt="section 3">
        <div class="section3-header">
            <p>Mon nom scientifique :</p>
            <h1>Daucus carota</h1>
        </div>
        <div class="story">
            <div class="first">
                <p>La partie qu’on mange :</p>
                <h1>la racine !</h1>
            </div>
            <div class="first">
                <p>Famille :</p>
                <h1>Apiacées (comme le persil)</h1>
            </div>
            <div class="first">
                <p>Couleurs :</p>
                <h1>Orange, violet, blanc, jaune, rouge</h1>
            </div>
        </div>
    </div>
    <div #section class="section section4">
        <img src="images/learningZone/stories/carotte/section4.png" alt="section 4">
        <div class="story first">
            <h1>Nantaise</h1>
            <p>droite et sucrée</p>
        </div>
        <div class="story second">
            <h1>Purple Haze</h1>
            <p>violette dehors, orange dedans !</p>
        </div>
        <div class="story third">
            <h1>Jaune du Doubs</h1>
            <p>jaune comme le soleil</p>
        </div>
        <div class="story fourth">
            <h1>Ronde de Paris</h1>
            <p>ronde comme une balle !</p>
        </div>
        <div class="story fifth">
            <h1>Blanche</h1>
            <p>ancienne et douce</p>
        </div>
        <div class="story sixth">
            <h1>Rouge de Chine</h1>
            <p>rouge foncé et magique !</p>
        </div>
    </div>
    <div #section class="section section5">
        <img src="images/learningZone/stories/carotte/section5.png" alt="section 5">
        <div class="mar">
            <div class="icon"><img src="images/learningZone/stories/carotte/mar.png" alt="mar">
            </div>
            <p>Je me plante de mars à juillet</p>
            <br>
            <p>Mes graines sont toutes petites, comme<br>des miettes</p>
        </div>
        <div class="june">
            <div class="icon"><img src="images/learningZone/stories/carotte/june.png" alt="june">
            </div>
            <p>Je suis prête à être récoltée après 3-4<br>mois ⏳</p>
            <br>
            <p>De juin à novembre</p>
        </div>
    </div>
    <div #section class="section section6">
        <img src="images/learningZone/stories/carotte/section6.png" alt="section 6">
        <div class="message message1">
            <img class="img-fluid" src="images/learningZone/stories/carotte/section6-message1.png" alt="message 1">
            <p>J’aime le soleil,<br>mais aussi un peu<br>d’ombre</p>
        </div>
        <div class="message message2">
            <img class="img-fluid" src="images/learningZone/stories/carotte/section6-message2.png" alt="message 2">
            <p>Je n’aime pas<br>les cailloux, ça<br>me déforme !</p>
        </div>
        <div class="message message3">
            <img class="img-fluid" src="images/learningZone/stories/carotte/section6-message3.png" alt="message 2">
            <p>Plus tu m’arroses,<br>plus je suis douce</p>
        </div>

    </div>
    <div #section class="section section7">
        <div  class="cloud2">
            <img class="" src="images/learningZone/stories/carotte/cloud2.png" alt="background">
        </div>
        <img src="images/learningZone/stories/carotte/section7.png" alt="section 7">
        <div class="story benifit1">
            <h1>Pour l’immunité</h1>
            <p>tu restes en bonne santé !</p>
        </div>
        <div class="story benifit2">
            <h1>Pour le ventre</h1>
            <p>ne bonne digestion !</p>
        </div>
        <div class="story benifit3">
            <h1>Pour l’énergie</h1>
            <p>un vrai boost naturel !</p>
        </div>
        <div class="story benifit4">
            <h1>Pour les yeux</h1>
            <p>tu vois mieux dans le noir !</p>
        </div>
        <div class="story benifit5">
            <h1>Pour la peau</h1>
            <p>une peau douce et brillante !</p>
        </div>
    </div>
    <div #section class="section section8">
        <img src="images/learningZone/stories/carotte/section8.png" alt="section 8">
        <div class="list">
            <div class="story l1 d-flex">
                <h1>Vitamine A</h1>
                <i class="bi bi-arrow-right"></i>
                <p>Pour bien voir</p>
            </div>
            <div class="story l2 d-flex">
                <h1>Vitamine C</h1>
                <i class="bi bi-arrow-right"></i>
                <p>Pour se protéger</p>
            </div>
            <div class="story l3 d-flex">
                <h1>Vitamine K</h1>
                <i class="bi bi-arrow-right"></i>
                <p>Pour les os</p>
            </div>
            <div class="story l4 d-flex">
                <h1>Vitamine B6</h1>
                <i class="bi bi-arrow-right"></i>
                <p>Pour le cerveau</p>
            </div>
        </div>
    </div>
    <div #section class="section section9">
            <div  class="cloud3">
        <img class="" src="images/learningZone/stories/carotte/cloud3.png" alt="background">
    </div>
        <img src="images/learningZone/stories/carotte/section9.png" alt="section 8">
        <div class="section9-text">

            <p class="moi">Moi,</p>
            <h1 class="title">Caro-Carotte !</h1>
            <p>je suis votre amie !</p>

            <p class="special">En soupe, en purée, en jus ou croquante !<br>
                Pour des yeux brillants et un corps en forme ! </p>

            <h1 class="title last">Croque-moi !</h1>
        </div>
    </div>
    <div #section class="section footer">
    
           <app-home-footer [color]="'#B68455'"></app-home-footer>
       </div>
</div>
