<div class="background-color"></div>

<div id="section1" class="background"><img src="images/learningZone/stories/brocoli/background.png" alt="background">
</div>

<div id="section1" class="cover-title">
    <h1 class="title">Brocoli !</h1>
    <h3 class="description">JIl était une fois... un petit légume vert<br>magique, adoré des Romains,Appelé ..</h3>

    <button class="btn btn-primary" (click)="discover()">Discover</button>

</div>

<div class="content">
    <div class="mainCloud">
        <img src="images/learningZone/stories/mainCloud.svg" alt="cloud">
    </div>

    <div id="section2" #section class="section section2">
        <img src="images/learningZone/stories/brocoli/section2.png" alt="section 2">
        <div class="story">
            <p>Petit à petit, le brocoli est<br>devenu un super-héros vert<br>dans toute l’Europe !
            </p>
        </div>
    </div>

    <div id="section3" #section class="section section3">
        <img src="images/learningZone/stories/brocoli/section3.png" alt="section 3">
        <div class="story">
            <p>Carte d'identification<br>du brocoli
            </p>

        </div>
        <div class="banane-id">
            <div class="info">
                <div class="info-title">Famille :</div>
                <div class="info-value">Brassicacées</div>
            </div>
            <div class="info">
                <div class="info-title">Couleur :</div>
                <div class="info-value">verte ou violette</div>
            </div>
            <div class="info">
                <div class="info-title">Surnom :</div>
                <div class="info-value">super-chou vert !</div>
            </div>

        </div>
    </div>


    <div id="section4" #section class="section section4">
        <img src="images/learningZone/stories/brocoli/section4.png" alt="section 4">
        <div class="story">
            <p>"Romanesco, Calabrais ou Violet… chaque brocoli est<br>une œuvre d’art nature !"
            </p>
        </div>
    </div>

    <div id="section5" #section class="section section5">
        <div class="cloud2">
            <img class="" src="images/learningZone/stories/banane/cloud2.png" alt="background">
        </div>
        <img src="images/learningZone/stories/brocoli/section5.png" alt="section 5">
        <div class="story">
            <p>"Le brocoli aime pousser au soleil doux,</p>
        </div>
        <p class="second">avec un peu d’ombre et<br>beaucoup d’eau !"</p>
    </div>


    <div id="section6" #section class="section section6">
        <img src="images/learningZone/stories/brocoli/section6.png" alt="section 6">
        <div class="story">
            <p>Récolte-le tôt le matin, quand ses têtes sont<br>bien vertes et serrées !</p>
        </div>
    </div>




    <div id="section7" #section class="section section7">
        <img src="images/learningZone/stories/brocoli/section7.png" alt="section 7">
        <p>Grâce aux<br>vitamines B, </p>
        <p>ton cerveau<br>devient super<br>rapide ! </p>
    </div>


    <div id="section8" #section class="section section8">
        <img src="images/learningZone/stories/brocoli/section8.png" alt="section 8">
        <div class="story">
            <p>Le brocoli<br>construit une<br>armure verte<br>contre les<br>maladies et la<br>fatigue !</p>
        </div>
    </div>


    <div id="section9" #section class="section section9">
        <img src="images/learningZone/stories/brocoli/section9.png" alt="section 9">
        <p>Il nettoie ton<br>corps, ton ventre</p>
        <p>et ton énergie<br>intérieure ! "</p>
    </div>

    <div id="section10" #section class="section section10">
        <img src="images/learningZone/stories/brocoli/section10.png" alt="section 10">
        <p>Le brocoli t’aide à<br>rester fort,<br>enraciné,</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;calme… comme<br>un arbre ! </p>
    </div>


    <app-home-footer [color]="'#B68455'"></app-home-footer>
</div>



<!-- phone horizontal direction -->

<div class="rotate-message">
    <img src="images/learningZone/stories/mainMessage.svg" alt="please, rotate your phone [required]">
</div>