<div class="nav flex-column nav-pills min-vh-100 px-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">

  <div class="m-4 logo">
    <img class="img-fluid" src="images/logo-patarif.png" alt="App Logo" width="80" height="80">
  </div>
  <div class="links">

    <a routerLink="/admin-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link">
      <p>
        Tableau de bord
      </p>
    </a>

    <a routerLink="/app-admin-orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link">
      
      <p>
        Ordres
      </p>
    </a>
    <a routerLink="/admin-products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link">
      
      <p>
        Produits
      </p>
    </a> <a routerLink="/contact-messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link">
      
      <p>
        Messages
      </p>
    </a>


  </div>
  <a style="background-color: rgba(255, 0, 0, 0.589); color: white; cursor: pointer;" class="nav-link"
    (click)="signOut()">
    
    <p>déconnexion</p>
  </a>
  <p style="font-size: 0.6rem">&#169;Patarif - 2022</p>
</div>