<div *ngIf="designType === 'carousel'" class="games-carousel-container">
  <div class="carousel">
    <div class="cards">
      <div *ngFor="let card of cards; let i = index"
           class="game-card"
           [ngClass]="{
             'center': i === currentIndex,
             'left': i === leftIndex,
             'right': i === rightIndex
           }"
           [style.backgroundImage]="'url(' + card.img + ')'"
           (click)="onCardClick(card, i)">
        <h3>{{ card.title }}</h3>
        <p>{{ card.subtitle }}</p>
      </div>
    </div>
  </div>

  <div class="scroll d-flex justify-content-center align-items-center gap-3" style="justify-content: center; align-items: center; display: flex;">
    <button *ngIf="designType === 'carousel'" class="arrow" (click)="prevSlide()"> <i class="bi bi-arrow-left"></i>
    </button>
    <div class="dots ">
      <span *ngFor="let card of cards; let i = index"
            [ngClass]="{ 'active': i === currentIndex }"></span>
    </div>
    <button *ngIf="designType === 'carousel'" class="arrow" (click)="nextSlide()">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

</div>


<!-- لو كان النوع list -->
<div *ngIf="designType === 'list'" class="list-container">
  <div class="list-header">
    <h2>All Games</h2>
    <div class="navigation-buttons">
      <button class="arrow" (click)="prevSlide()" [disabled]="!canGoPrev()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <button class="arrow" (click)="nextSlide()" [disabled]="!canGoNext()">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
 <div #listCardsContainer class="list-cards" [class.dragging]="isDragging">
  <div *ngFor="let card of visibleCards; let i = index"
       class="list-card"
       (click)="onCardClick(card, i)">
       
    <!-- Image stays visible -->
    <img [src]="card.img" alt="{{card.title}}" class="card-image" />

    <!-- Gradient overlay on top -->
    <div class="gradient-overlay" [style.background]="card.gradient"></div>

    <!-- Card title -->
    <span class="card-title">{{ card.title }}</span>
  </div>
</div>

  
</div>
