<div class="games-carousel-container">
  <div class="carousel">
    <div class="cards">
      <div *ngFor="let card of cards; let i = index"
           class="game-card"
           [ngClass]="{
             'center': i === currentIndex,
             'left': i === leftIndex,
             'right': i === rightIndex
           }"
           [style.background]="card.bg">
        <img class="puzzle-icon" [src]="card.image" alt="Puzzle Icon">
        <h3>{{ card.title }}</h3>
        <p>{{ card.subtitle }}</p>
      </div>
    </div>
  </div>

  <div class="scroll d-flex justify-content-center align-items-center gap-3" style="justify-content: center; align-items: center; display: flex;">
    <button class="arrow" (click)="prevSlide()"> <i class="bi bi-arrow-left"></i>
    </button>
    <div class="dots ">
      <span *ngFor="let card of cards; let i = index"
            [ngClass]="{ 'active': i === currentIndex }"></span>
    </div>
    <button class="arrow" (click)="nextSlide()">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

</div>
