.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    padding: 20px 4%;
    width: 100%;
    margin-top: 4%; 
}

.intro-text-1 {
    font-family: "Architects Daughter", cursive;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

/* Mobile*/
@media (max-width: 768px) {
    .introduction {
        flex-direction: column;
        margin-top: 30px;
        text-align: left;
    }

    .intro-image-1 {
        width: 100% !important;
    }

    .intro-image-1 {
        margin-bottom: 20px;
        order: -1;
    }

}