.introduction {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    align-items: center;
    gap: 4%;
    padding-left: 4%;
    padding-right: 4%;
    width: 100vw;
}
body{
    overflow: hidden;
}
.intro-image-1{
    width: 44%;
}
.intro-text-1 {
    width: 44%;
    font-family: "Architects Daughter", cursive;
    font-size: clamp(0.5rem, 1.5vw, 1.3rem);
}

