<!-- <app-lines-background></app-lines-background> -->
<app-stars-background></app-stars-background>

<div class="introduction animate__animated animate__fadeInDown row">
    <div class=" intro-image-1 p-4 rounded-5 bg-primary col-md-4"><img class="img-fluid h-100 w-100 object-fit-cover"
            src="images/introduction.png" alt=""></div>
    <div class="intro-text-1 col-md-4">Adventurers, get ready for an extraordinary journey to the heart of an enchanted
        world
        filled with surprises, laughter and unforgettable adventures. Here in the universe of Patarif, every day is a
        new adventure full of magic and exciting discoveries. Meet Patarif, the funny and creative hero who likes to
        cook and explore new horizons. Accompanied by his faithful friend Chamy, the magic camel, Patarif invites you to
        join him on thrilling adventures. Join us to discover captivating stories, fun games, creative activities and
        exciting lessons that will take you into fantasy worlds and teach you important lessons.</div>
</div>
<br>
<br>
<div class="introduction animate__animated animate__fadeInDown row">

    <div class="intro-text-1 col-md-4">Explore the magical desert, dance with the enchanted camels, solve riddles and
        let your imagination run free. Whether you like to color, play interactive games or learn new things, you'll
        find something here to entertain and learn by having fun. So get ready to experience magical moments with
        Patarif and his friends. Join us on an adventure where friendship, creativity and curiosity are the keys to a
        wonderful world. We are delighted to share these extraordinary moments with you.
        Ready to embark on an unforgettable adventure? Welcome to the enchanted world of Patarif.</div>
    <div class=" intro-image-1 p-4 rounded-5 col-md-4" style="background-color: rgba(251, 86, 100, 1);"><img class="img-fluid h-100 w-100 object-fit-cover"
            src="images/introduction.png" alt=""></div>
</div>